.inputbox {
  margin-top: 15px;
}

.inputbox > label {
  color: #5e5e5e;
  font-family: var(--poppins);
  font-size: 11px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.input {
  border: 1px solid #3e3e3e;
  border-radius: 7px;
  padding: 10px 15px;
  width: 100%;
  font-size: 11px;
}
.input:focus {
  outline: none;
}
