.schedulecard {
  background-color: #f6f6f5;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
  font-size: 12px;
}
.schedulecard.active {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.schedulecard__header {
  display: flex;
  justify-content: space-between;
}
.type > p:first-child {
  margin-bottom: 5px;
  font-weight: 600;
}
.schedule__date > p {
  text-align: center;
}
.schedulecard__leads {
  margin-top: 20px;
}
.schedulecard__leads > div:first-child {
  margin-bottom: 10px;
}
.location,
.leads__details {
  display: flex;
  align-items: center;
  gap: 10px;
}
.location > img {
  width: 20px;
  height: 20px;
}
.leads__img {
  font-size: 7px;
  background-color: rgb(221, 221, 221);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
