.header {
  width: 100%;
  padding: 15px;
  box-shadow: 0 2px 5px #b6b6b6;
}
.searchbox {
  background-color: #ececec;
  max-width: fit-content;
  padding: 5px 15px;
  border-radius: 16px;
  display: flex;
}
.search__img {
  width: 32px;
}
.search__input {
  border: 0;
  padding: 8px;
  background-color: transparent;
  font-size: 16px;
  font-family: var(--rem-font);
}
.search__input:focus {
  outline: none;
}
.search__input::placeholder {
  color: #636060;
  font-size: 16px;
  letter-spacing: 0.2px;
}
