.homepage {
  flex: 0.8;
  padding: 20px;
}
.homepage > h1 {
  color: #0d1829;
  font-family: var(--rem);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.break {
  height: 300px;
  background-color: #e4e8f2;
  border-radius: 13px;
  border: 1px solid #d0d0d0;
  margin-bottom: 15px;
}
.break__timing {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 13px;
  font-weight: 500;
  font-family: var(--rem);
  margin-top: 10px;
}
.break__timing--time {
  display: flex;
  gap: 40px;
}
.activities {
  padding: 10px 20px;
  background-color: #e9e9e9;
  border-radius: 13px;
  height: 170px;
}
.activities--list {
  overflow-y: auto;
  height: 140px;
}
.activities li {
  color: #616161;
  font-family: var(--rem);
}
.activities--list::-webkit-scrollbar {
  width: 3px;
}

.activities--list::-webkit-scrollbar-track {
  background: transparent;
}

.activities--list::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 10px;
}

.activities--list::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
}
