.homepage {
  flex: 0.8;
  padding: 20px;
}
.homepage > h1 {
  color: #0d1829;
  font-family: var(--rem);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.break {
  height: 300px;
  background-color: #e4e8f2;
  border-radius: 13px;
  border: 1px solid #d0d0d0;
  margin-bottom: 15px;
}
