.activetable__wrapper {
  border: 1px solid var(--border-color);
  border-radius: 16px;
  overflow: hidden;
}
.tablescroll {
  height: 300px;
  overflow-y: auto;
}
.activeemployeetable {
  width: 100%;
  border-collapse: collapse;
}

.activeemployeetable thead tr th {
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
  position: sticky;
  top: 0;
  background-color: white;
}

.activeemployeetable td {
  padding: 10px;
  border-top: 1px solid var(--border-color);
  margin-top: 5px;
}
.activeemployee__name-head,
.activeemployee__id-head {
  text-align: left;
}
.activeemployee__leads-head {
  text-align: center;
}

.activeemployee__id {
  font-size: 12px;
  color: #091e42;
  font-weight: 500;
  background-color: #f5f6f7;
  border-radius: 16px;
  text-align: center;
  padding: 3px 5px;
  width: max-content;
}
.activeemployee__leads {
  color: #616161;
  font-family: var(--rem-font);
  text-align: center;
}
.badge {
  color: #12b76a;
  background-color: #ecfdf3;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  width: max-content;
  padding: 2px 8px;
  margin: 0 auto;
}

.dot {
  background-color: #12b76a;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.status {
  color: #12b76a;
  font-size: 12px;
  font-weight: 500;
}

.tablescroll::-webkit-scrollbar {
  width: 2px;
}

.tablescroll::-webkit-scrollbar-track {
  background: none;
}

.tablescroll::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 10px;
}

.tablescroll::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
}
