.employeecard {
  display: flex;
  gap: 10px;
}

.user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff2ea;
  color: #93312b;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.employee__name {
  color: #101828;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}
.employee__mail {
  color: #6b788e;
  font-size: 14px;
}
