.pagination {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination__btn {
  padding: 10px;
  border: 1px solid #d0d5dd;
  background-color: transparent;
  border-radius: 8px;
  color: #344054;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
}

.pagination--button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pagination--button > button {
  color: #667085;
  background-color: var(--white-color);
  font-weight: 500;
  font-size: 14px;
  border: 0;
  border-radius: 8px;
  padding: 8px 12px;
}

.pagination--button > button.active {
  background-color: #eff1f4;
  color: #091e42;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.dots {
  padding: 0 6px;
}
