.pagination {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination__btn {
  padding: 10px;
  border: 1px solid #d0d5dd;
  background-color: transparent;
  border-radius: 8px;
  color: #344054;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
}
