.employeemodel {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.employee__form {
  background-color: var(--white-color);
  padding: 15px;
  border-radius: 16px;
  min-width: 50%;
}
.employeemodel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.employeemodel__header > h1 {
  color: #0b0b0b;
  font-size: 16px;
  font-weight: 500;
}
.employeemodel--button {
  padding: 30px 0 0 0;
  display: flex;
  justify-content: end;
}
