.leads {
  flex: 0.8;
  height: 100%;
}
.leads__content {
  padding: 20px;
}
.leads__btn {
  display: flex;
  justify-content: space-between;
}
.leads__btn--wrapper {
  display: flex;
  gap: 10px;
}
.leads__table-content {
  border: 1px solid #8d8181;
  border-radius: 20px;
  margin-top: 15px;
  padding: 0 10px 10px 10px;
  position: relative;
}
