.schedulepage {
  flex: 0.8;
  padding: 20px;
}
.search__filter--wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
}
.filter {
  background-color: #d9d9d9;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.filter > img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
