.header {
  background-color: var(--primary-color);
  padding: 15px 20px;
  color: var(--white-color);
  border-radius: 0 0 20px 20px;
  flex: 0.1;
}
.header__title {
  font-weight: 600;
  font-size: 18px;
}
.header__title > span {
  color: #e8e000;
}
.user__details > h2 {
  font-weight: 400;
  font-size: 13px;
  margin-top: 20px;
}
.user__details > h3 {
  font-weight: 500;
  font-size: 22px;
  margin-top: 5px;
  font-family: var(--rem);
}
.header__nav {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__nav > button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav > p {
  font-family: var(--rem);
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}
