.dashboard {
  flex: 0.8;
  height: 100%;
}
.dashboard__content {
  padding: 20px;
}
.dashboard__analytics {
  margin-top: 10px;
  display: grid;
  gap: 20px;
}
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.middle {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}
.card,
.chart,
.activity {
  background: #fff;
  border-radius: 16px;
  padding: 15px;
  border: 1px solid #b1b1b1;
  font-family: var(--rem);
}
.card {
  display: flex;
  gap: 10px;
  height: 120px;
  align-items: center;
}
.card__img {
  width: 32px;
}
.card__title > h1 {
  color: #616161;
  font-size: 13px;
  font-weight: 400;
  margin: 5px 0;
}
.card__title > p {
  font-size: 18px;
  font-weight: 500;
}
.chart {
  height: 300px;
}
.chart > h1 {
  font-size: 16px;
  font-weight: 500;
  color: #616161;
  margin-bottom: 5px;
  padding-left: 10px;
}
.activity > h1 {
  font-size: 16px;
  font-weight: 500;
  color: #616161;
  margin-bottom: 5px;
}
.activity ul {
  color: #616161;
  font-size: 16px;
  height: 230px;
  overflow-y: auto;
}
.activity ul li {
  margin-top: 5px;
}
.activities--list::-webkit-scrollbar {
  width: 3px;
}

.activities--list::-webkit-scrollbar-track {
  background: transparent;
}

.activities--list::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 10px;
}

.activities--list::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
}
